<!-- onDigitar é um evento customizado, pode ser qualquer nome -->
<!-- e deve ser o mesmo nome da propriedade na classe -->
<ap-search (onDigitar)="filter = $event" [value]="filter"></ap-search>

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>

<ap-load-button (click)="load()" [hasMore]="hasMore"></ap-load-button>
