<h4 class="text-center"> Register to embrace a new world!</h4>
<form #form="ngForm" [formGroup]="singupForm" class="form mt-4" (submit)="singup()">
    <div class="form-group">
        <input 
            formControlName="email" placeholder="email" 
            class="form-control"  #emailInput autofocus >
        <!-- touched verifica se o usuário passou pelo campo -->
        <ap-vmessage 
            text="Email is required." 
            *ngIf="singupForm.get('email').errors?.required && (form.submitted || singupForm.get('email').touched)"></ap-vmessage>
        <ap-vmessage 
            text="Invalid email." 
            *ngIf="singupForm.get('email').errors?.email && (form.submitted || singupForm.get('email').touched)"></ap-vmessage>
    </div>
    <div class="form-group">
        <input formControlName="fullName" placeholder="full name" class="form-control">
        <ap-vmessage 
            text="Full name is required." 
            *ngIf="singupForm.get('fullName').errors?.required && form.submitted"></ap-vmessage>
        <ap-vmessage 
            text="Minimun length is 2." 
            *ngIf="singupForm.get('fullName').errors?.minlength && form.submitted"></ap-vmessage>
        <ap-vmessage 
            text="Max length is 40." 
            *ngIf="singupForm.get('fullName').errors?.maxlength && form.submitted"></ap-vmessage>
    </div>
    <div class="form-group">
        <input formControlName="userName" placeholder="user name" class="form-control">
        <ap-vmessage 
            text="User name is required." 
            *ngIf="singupForm.get('userName').errors?.required && form.submitted"></ap-vmessage>
        <ap-vmessage 
            text="Minimun length is 2." 
            *ngIf="singupForm.get('userName').errors?.minlength && form.submitted"></ap-vmessage>
        <ap-vmessage 
            text="Max length is 30." 
            *ngIf="singupForm.get('userName').errors?.maxlength && form.submitted"></ap-vmessage>
        <ap-vmessage 
            text="Must be lower case." 
            *ngIf="singupForm.get('userName').errors?.lowerCase && form.submitted"></ap-vmessage>
        <ap-vmessage 
            text="User name already taken." 
            *ngIf="singupForm.get('userName').errors?.userNameTaken && form.submitted"></ap-vmessage>
        <small *ngIf="singupForm.get('userName').valid && form.submitted" class="text-success">
            User available!
        </small>

    </div>
    <div class="form-group">
        <input formControlName="password" type="password" placeholder="password" class="form-control">
        <ap-vmessage 
            text="Password is required." 
            *ngIf="singupForm.get('password').errors?.required && form.submitted"></ap-vmessage>
        <ap-vmessage 
            text="Minimun length is 8." 
            *ngIf="singupForm.get('password').errors?.minlength && form.submitted"></ap-vmessage>
        <ap-vmessage 
            text="Max length is 18." 
            *ngIf="singupForm.get('password').errors?.maxlength && form.submitted"></ap-vmessage>
    </div>

    <!-- 
        toda vez que usar validação assíncrona, deve-se verificar 
        se o formulário está inválido e se não tem nada pendente (processando).
        VALIDACAO EXIBIDA NA INSTANTANEAMENTE NO FORMULÁRIO

    <button [disabled]="singupForm.invalid || singupForm.pending" class="btn btn-primary btn-block">Register</button>
    -->

    <!-- VALIDACAO EXIBIDA APÓS O SUBMIT -->
    <button class="btn btn-primary btn-block">Register</button>

    <p>Already a user?
        <a [routerLink]="['']"> Sign In!</a>
    </p>
</form> 
