<!-- obs.: o tabIndex não é Angular, é html -->
<div [ngClass]="{'active-menu': isShown}">
  <div class="menu-bar">
    <i tabindex="0" (keyup.space)="toggle()" class="fa fa-window-close" (click)="toggle()"></i>
    <ng-content></ng-content>
  </div>
  <div class="overlay" (click)="toggle()">

  </div>
</div>
