<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <div class="form-group">
        <input 
            #userNameInput
            formControlName="userName"
            class="form-control" 
            placeholder="user name" 
            autofocus>  
        <ap-vmessage 
            text="userName is required." 
            *ngIf="loginForm.get('userName').errors?.required"></ap-vmessage>
    </div>

    <div class="form-group">
        <input
            formControlName="password"
            type="password" 
            class="form-control" 
            placeholder="password">
        <ap-vmessage 
            text="Password is required." 
            *ngIf="loginForm.get('password').errors?.required"></ap-vmessage>          
    </div>

    <button 
        type="submit" 
        [disabled]="loginForm.invalid"
        class="btn btn-primary btn-block">
        login
    </button>

</form>

<p>Not a user? <a [routerLink]="['singup']">Register now</a></p>